@using MainApp.Helpers;
@{
    ViewData["Title"] = @DbResHtml.T("Home Page", "Resources");
}
<div class="content-header bg-gradient-white border-bottom mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-muted mb-0"> @ViewData["Title"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-solid">
                    <div class="card-body">
                        <h4>Public portal</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
