{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
<!DOCTYPE html>
<html{{#_lang}} lang="{{_lang}}"{{/_lang}}>
  <head>
    {{>partials/head}}
  </head>
  <body>
    {{>partials/navbar}}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {{#_toc}}
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          {{>partials/toc}}
        </div>
        {{/_toc}}

        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content" role="main">
          {{#_tocPath}}
          {{^_disableBreadcrumb}}
          {{>partials/breadcrumb}}
          {{/_disableBreadcrumb}}
          {{/_tocPath}}

          <div class="content">
            {{!body}}
          </div>

          {{^_disableFooter}}
          {{>partials/footer}}
          {{/_disableFooter}}
        </main>
      </div>
    </div>

    {{>partials/scripts}}
  </body>
</html>
