<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <EnvironmentName>Staging</EnvironmentName>
    <PublishTransformations>true</PublishTransformations>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
	<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
	<LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\Debug\net8.0\publish_staging\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
	<ProjectGuid>7f02c815-4aef-4879-b5e4-411edfd9324e</ProjectGuid>
  </PropertyGroup>
  <ItemGroup>
    <Content Update="appsettings.*.json" CopyToPublishDirectory="Never" />
    <Content Update="appsettings.$(EnvironmentName).json" CopyToPublishDirectory="PreserveNewest" />
    <Content Update="web.config" CopyToPublishDirectory="Never" />
    <Content Update="web.*.config" CopyToPublishDirectory="Never" />
    <Content Update="web.$(EnvironmentName).config" CopyToPublishDirectory="PreserveNewest" />
  </ItemGroup>
</Project>