<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>
				Create a ResultDTO Ok Object
			</Title>
			<Description>
				A code snippet for creating an Ok ResultDto Object i.e. ResultDTO.Ok()
			</Description>
			<Author>
				Bodan Gjozinski
			</Author>
			<Shortcut>
				resok
			</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[ResultDTO.Ok()]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>