:root {
    --red-danger: #dc3545;
    --green-success: #28a745;
    --green-active: #06D001;
    --dark-green: #059212;
    --white: #f2f2f2;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


[class*="sidebar-dark-"] .nav-sidebar .nav-item .nav-link {
    color: #525252 !important;
}

    [class*="sidebar-dark-"] .nav-sidebar .nav-item .nav-link:hover {
        color: var(--green-success) !important;
        background-color: #dfdfdf;
    }

[class*="sidebar-dark-"] .nav-sidebar .nav-treeview .nav-item .nav-link {
    color: #989898 !important;
}

    [class*="sidebar-dark-"] .nav-sidebar .nav-treeview .nav-item .nav-link:hover {
        color: var(--green-success) !important;
    }

[class*="sidebar-dark-"] {
    background-color: whitesmoke;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* Custom File Input Upload/Browse */
.custom-file-upload-wrapper {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: max-content;
}

.hidden-custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
/* ------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------- */
/* Show Image after upload from input */
.show-uploaded-img-container {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid var(--green-success);
}

.show-uploaded-img-img {
    display: flex;
    width: 100%;
    padding: 3px;
    object-fit: contain;
}
/* ------------------------------------------------------------------------------------------------------------------------- */

.dark-link-text {
    color: #343a40;
    padding: 1px;
    border-bottom: 1px solid #343a40;
    transition: box-shadow 0.5s ease;
}

    .dark-link-text:hover {
        color: #343a40;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

.overflow-visible {
    overflow: visible;
    -webkit-overflow-scrolling: touch;
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.border-bottom-1-gray0125 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.enable-disable-toggler {
    cursor: pointer;
}

    .enable-disable-toggler ~ .custom-control-label {
        cursor: pointer;
    }

    .enable-disable-toggler:checked ~ .custom-control-label::before {
        background-color: var(--green-success);
        border-color: var(--green-success);
    }

    .enable-disable-toggler:not(:checked) ~ .custom-control-label::before {
        background-color: var(--red-danger);
        border-color: var(--red-danger);
    }

    .enable-disable-toggler:checked ~ .custom-control-label {
        color: var(--green-success);
    }

    .enable-disable-toggler:not(:checked) ~ .custom-control-label {
        color: var(--red-danger);
    }

/* Sidebar Menu */
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background: var(--green-active);
    color: var(--white) !important;
}