@if (ViewData["DocumentationUrl"] != null)
{
    <a href="@ViewData["DocumentationUrl"]" target="_blank" class="btn btn-outline-success">
        <i class="fas fa-info-circle"></i> Learn More
    </a>

}
else
{
    <p></p>
}
