@using MainApp.Helpers;
@{
    ViewData["Title"] = @DbResHtml.T("Reset password confirmation", "Resources");
    Layout = "~/Areas/IntranetPortal/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center bg-gradient-success">
                <h3 class="card-title text-white">@DbResHtml.T("Waste detection Information System", "Resources")</h3>
            </div>
        </div>
        <div class="card-body bg-light">
            <ul>
                <li>
                    <cite class="small">@DbResHtml.T("Reset password link was sent to your email!", "Resources")</cite>
                </li>
            </ul>
        </div>
    </div>
</div>
