<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="4294967295" />
				</requestFiltering>
			</security>
			<aspNetCore processPath="dotnet" arguments=".\MainApp.MVC.dll" stdoutLogEnabled="false" hostingModel="inprocess" 
				xdt:Transform="SetAttributes" xdt:Locator="Match(processPath)">
				<environmentVariables xdt:Transform="RemoveAll" />
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" xdt:Transform="Insert" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>