<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="4294967295" />
				</requestFiltering>
			</security>
			<aspNetCore processPath=".\MainApp.MVC.exe" arguments="" stdoutLogEnabled="false" hostingModel="inprocess"
				xdt:Transform="SetAttributes" xdt:Locator="Match(processPath)">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" xdt:Transform="SetAttributes" xdt:Locator="Match(value)" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>